.superInput {
    display: inline-block;
    padding: 5px;
    border: 1px solid #3d3d3d;
    border-radius: 3px;
    margin-top: 10px;
}

.superInput:focus {
    outline: 1px solid #3d3d3d;
}

.errorInput {
    background: #f15353;
}

.error {
    line-height: 30px;
    color: red;
}