.link {
    text-decoration: none;
    color: #167e04;
    margin-right: 10px;
    font-weight: 900;
}

.link:hover {
    color: #2ad20b;
}

.active {
    text-decoration: none;
    font-weight: 900;
    margin-right: 10px;
    color: darkslateblue;
}

.header {
    display: flex;
    align-items: center;
    transform: translateX(-235px);
    transition-duration: 500ms;
    width: 350px;
}


.block {
    width: 25px;
    height: 25px;
    background-color: darkslateblue;
}

.header:hover {
    transform: translateX(0);
    transition-duration: 500ms;
}
